link-workspace-packages = true
prefer-workspace-packages = true
recursive-install = true
save-exact = true
save-workspace-protocol = false
scripts-prepend-node-path = true
shared-workspace-shrinkwrap = true